.menu-button {
    position: relative;
    display: block;
    width: 70px;
    padding: 12px;
    transform-origin: 16px 11px;
    outline: 0;
    border: 0;
    background: none;
    cursor: pointer;
    z-index: 20;
}

.menu-button:focus {
    border: medium none rgb(111, 255, 176);
    box-shadow: rgb(111, 255, 176) 0 0 2px 2px;
    outline: 0;
}
.menu-button:hover .bar {
    background-color: #b458bf;
}

.menu-button:hover .bar:nth-of-type(1) {
    width: 33px;
}

.menu-button:hover .bar:nth-of-type(3) {
    width: 30px;
}

.menu-button.active .bar:nth-of-type(1) {
    transform: rotate(45deg) translate(10px, 10px);
    /*transform: rotate(45deg) translate(10px, 8px);*/
    width: 40px;
}

.menu-button.active .bar:nth-of-type(2) {
    opacity: 0;
    pointer-events: none;
}

.menu-button.active .bar:nth-of-type(3) {
    transform: rotate(-45deg) translate(7px, -7px);
    /*transform: rotate(-45deg) translate(5px, -6px);*/
    width: 40px;
}

@media screen and (min-width: 1080px) {
    .menu-button {
        display: none;
    }
}
