.header-wrp {
    position: fixed;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 120px;
    padding: 20px;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #b458bf 0%, #1A1A1C 100%), #352f4d;
}

.header-wrp-cent {
    /* margin-bottom: 50px; */
    width: 100%;
    max-width: 1577px;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* background: radial-gradient(110.67% 538.64% at 5.73% 50%, #b458bf 0%, #1A1A1C 100%), #352f4d; */
    /*min-height: 125px;*/
    /*margin-bottom: 50px;*/
    /*width: 100%;*/
    /*padding: 0px 20px 0px;*/
    /*box-sizing: border-box;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*background: radial-gradient(110.67% 538.64% at 5.73% 50%, #b458bf 0%, #1A1A1C 100%), #352f4d;*/
    /*min-height: 125px;*/
}

.header__nav-wrp {
    /*position: relative;*/
    /* position: absolute; */
    /* top: 0;
    left: -21px;
    width: 100%; */
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    max-width: 1577px;
    align-items: center;
    /*background-color: rgba(9, 9, 9, 0.4);*/
    /*min-height: 125px;*/
    /*width: fit-content;*/
    /*width: 100%;*/
    /*  mix-blend-mode: normal;*/
    /* margin: 0 0 50px 0; */
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
}

.text_box_header {
    font-size: 18px;
    line-height: 16px;
    color: #b458bf;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header-title__descrip {
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    padding: 0 0 0 25px;
}

@media screen and (max-width: 600px) {
    .header__nav-wrp {
        flex-direction: column;
    }

    .header-wrp {
        min-height: 160px;
        margin-bottom: 0;
    }

    .header-wrp-cent {
        margin: -55px 0 0 0;
    }
}
