.cours__img {
    width: 300px;
}
.cours__text {
    font-size: 20px;
    line-height: 1.5em;
}
.cours__wrp {
    width: 80%;
    margin: 0 auto 30px;
}
.cours__btn-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.cours__reviews {
    padding-top: 50px;
    border-top: 1px solid #cccccc;
}

.cours__reviews-title {
    margin-top: 50px;
}
@media screen and (max-width: 682px) {
    .cours__btn-wrp {
        display: flex;
    }
    .cours__reviews {
        padding-top: 30px;
    }
    .cours__reviews-title {
        margin-top: 30px;
    }
}

@media screen and (max-width: 470px) {
    .cours__btn-wrp {
     flex-direction: column;
    }
    .cours__img {
        width: 100%;
    }
}
