.menu {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 120px;
    padding-top: 25px;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #b458bf 0%, #1A1A1C 100%), #352f4d;
    box-shadow: inset -6px 0px 9px 0px;
    transform: translateX(100%);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-sizing: border-box;
    z-index: 10;
}

.menu__open {

    transform: translateX(0);
}

.menu__link {
    padding: 12px 10px;
    box-sizing: border-box;
    font-size: 25px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
    text-decoration: none;
}

.menu__link:hover,
.menu__link:focus{
    color: #e588ed;
}

@media screen and (min-width: 1080px) {
    .menu {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        height: fit-content;
        margin-top: 0;
        padding: 0 20px;
        background: transparent;
        box-shadow: none;
        transform: translateX(0);
    }

    /*.menu__open {*/
    /*  */
    /*}*/
    .menu__link {
        /*padding: 15px 0;*/
        /* font-size: 60px; */
    }
}

@media screen and (max-width: 600px) {
    .menu {
        margin-top: 160px;
    }
}
