.review-form__btn {
    margin: 15px 0;
    padding: 5px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #4caf50;
    border-radius: 5px;
    border: 1px solid #0f3d12;
}

.review-form__btn:hover {
    color: #efe405;
    background-color: #388e3c;
}
