.img_course {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 50%;
}
.review {
    display: flex;
    text-align: start;
}

.rev_head {
    color: #b458bf;
    font-size: 50px;
}

.rev_name {
    font-weight: 600;
    font-style: inherit;
    color: #ec615b;
    font-size: 20px;
}
.rev_text {
    font-style: italic;
}

.rev_head_item {
    color: #7532d5;
}
