.img_course {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 50%;
}

.review {
    display: flex;
    text-align: start;
}

.rev_head {
    color: #b458bf;
    font-size: 50px;
    margin-bottom: 50px;
}

.rev_name {
    font-weight: 600;
    font-style: inherit;
    color: #ec615b;
    font-size: 20px;
}

.rev_text {
    font-style: italic;
    max-width: 400px;
}

.rev_head_item {
    color: #7532d5;
}

.alice-carousel {
    width: 1280px;
    margin-top: 50px;
}

@media screen and (max-width: 460px) {
    .rev_head {
        font-size: 30px;
        
    }

    .img_course {
        width: 125px;
        height: 200px;
        object-fit: contain;
    }
}
