.img_course {
    display:block;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
}

.review {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: start;
    border-radius: 5px;
    box-shadow: -1px 1px 10px 1px rgba(40, 44, 52, 0.25);
}

.rev_head {
    color: #b458bf;
    font-size: 50px;
    /* margin-bottom: 50px; */
}

.rev_text_box {
    min-width: 250px;
    padding: 0 20px;
}

.rev_name {
    font-weight: 600;
    font-style: inherit;
    color: #ec615b;
    font-size: 20px;
    margin: 0;
    padding-top: 20px;
}

.rev_text {
    font-style: italic;
    margin: 0;
}

.rev_head_item {
    color: #7532d5;
}

.btn_link {
    text-decoration: none;
    margin-bottom: 25px;
    display: inline-block;

}

@media screen and (max-width: 578px){
    .review {
        justify-content: center;
    }
    .rev_text_box {
        padding: 0 10px;
    }
}
