.App {
    /* прижимаем footer к низу страницы */
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
.mainTextWrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainText-head {
    color: #b458bf;
    font-size: 40px;
    margin-top: 40px;
    padding: 0 30px;
    max-width: 1249px;
    box-sizing: border-box;

}
.mainText {
    color: #b458bf;
    font-size: 30px;
    /* margin-top: 40px; */
    padding: 0 30px;
    max-width: 1577px;
    text-align: justify;
    margin: 15px 0px 0px 0px;
    box-sizing: border-box;
}

.title {
    margin-bottom: 20px;
    color: #b458bf;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

.subtitle {
    color: #b458bf;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

.btn {
    border: 1px solid #b458bf;
    padding: 10px 20px;
    margin-left: 30px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-page {
    max-width: 1577px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.version {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

/*.home {*/
/*    font-size: 25px;*/
/*    color: white;*/
/*    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",*/
/*        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",*/
/*        "Helvetica Neue", sans-serif;*/
/*    text-decoration: none;*/
/*}*/

/*main*/
.provide {
    width: 100%;
    padding: 100px 0px 0;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.provide__info-title {
    opacity: 0.8;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: #21a8c7;
    margin: 0 0 50px 0;
    width: 360px;
    margin-top: 30px;
}

.provide-wrp {
    max-width: 1249px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.provide__info-wrp {
    max-width: 509px;
    width: 100%;
    margin: 0 10px 0 0;
}

.provide__info-text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #000000;
    margin: 0 0 58px 0;
}

.provide__info-btn {
    display: block;
    width: 227px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid #76d5eb;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 18.2px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: white;
    background-color: #76d5eb;
}

.provide__info-btn:hover {
    background-color: #ffffff;
    color: #76d5eb;
}

.provide__info-btn:active {
    background-color: #76d5eb;
    color: #ffffff;
}

.provide__tools-wrp {
    max-width: 630px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.provide__tools_info-wrp {
    max-width: 290px;
    width: 100%;
}

.provide__tools_info-wrp:nth-child(1) {
    margin: 0 auto 50px 0;
}

.provide__tools_info-wrp:nth-child(2) {
    margin: 0 0 50px 0;
}

.provide__tools_info-wrp:nth-child(3) {
    margin: 0 auto 0 0;
}

.provide__tools_info-wrp:nth-child(4) {
    margin: 0;
}

.provide__tools_info-title {
    opacity: 0.7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #21a8c7;
    margin: 0 0 17px 0;
}

.provide__tools_info-text {
    opacity: 0.7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #000000;
    margin: 0;
}

.feature {
    width: 100%;
    padding: 104px 20px 0;
    margin: 0 auto 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.feature-wrp {
    max-width: 1249px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feature__info-wrp {
    width: 100%;
    margin: 0 0 88px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__info-wrp::after {
    content: "";
    display: block;
    width: 132px;
    height: 3px;
    background-color: #21a8c7;
}

.feature__info-title {
    opacity: 0.8;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #21a8c7;
    margin: 0 0 20px 0;
    text-align: center;
}

.design-wrp {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0 20px;
    display: none;
}

.design {

    max-width: 1249px;
    width: 100%;
    padding: 140px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #422072 0%, #1A1A1C 100%), #352f4d;
    margin-bottom: 100px;
    border-radius: 50px 50px 50px 50px;
    position: relative;
}

.bird {
    position: absolute;
    left: 56px;
    top: 185px;
}

.design-title {
    opacity: 0.8;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 42px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin: 0 0 40px 0;
    text-align: center;
}

.design-text {
    opacity: 0.8;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
    padding: 0;
    margin: 0 0 60px 0;
}

.design__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.design__form-input {
    border-radius: 50px 50px 50px 50px;
    max-width: 521px;
    width: 100%;
    height: 79px;
    padding: 33px 36px;
    box-sizing: border-box;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #2c2c2c;
    margin: 0 22px 0 0;
}

.design__form-input::placeholder {
    opacity: 0.7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #2c2c2c;
}

.design__form-btn {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    border: 1px solid #b458bf;
    border-radius: 5px;
    width: 214px;
    height: 79px;
    background-color: #b458bf;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design__form-btn:hover {
    background-color: #ffffff;
    color: #b458bf;
}

.design__form-btn:active {
    background-color: #b458bf;
    color: #ffffff;
    outline: none;
}

.topbutton {
    text-decoration: none;
    width: 100px;
    border: 2px solid #ccc;
    background: #76d5eb;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 12px;
    border-radius: 5px;
}

/* 422072 */
/* background:  radial-gradient(110.67% 538.64% at 5.73% 50%, #422072 0%, #1A1A1C 100%), #352f4d; */


.text_box_main {
    font-weight: 300;
    font-size: 19px;
    line-height: 17px;
    color: #5d5d5d;
    margin: 12px 0 18px 0;
}

.text_box_price {
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
}


@media screen and (max-width: 1282px) {
    .design-title {
        line-height: 32px;
    }

    .provide-wrp {
        padding: 0 30px 0 30px;
    }
}

@media screen and (max-width: 1232px) {
    .bird {
        display: none;
    }
}
@media screen and (max-width: 1100px) {
    .design-title {
        font-size: 35px;
    }
}
@media screen and (max-width: 1024px) {
    .design {
        max-width: 950px;
    }
    .mainText {
        font-size: 25px;
        padding: 0 20px;
    }
}


@media screen and (max-width: 768px) {
    .home {
        font-size: 18px;
    }
    .title {

        font-size: 40px;
    }
    .mainText {
        font-size: 20px;
    }
}

@media screen and (max-width: 696px) {
    .footer-wrp {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .design {
        margin-bottom: 50px;
    }
    .design-title {
        font-size: 20px;
    }

    .design {
        padding: 45px 20px;
    }

    .design__form-btn {
        font-size: 12px;
        height: 45px;
    }

    .design__form {
        align-items: center;
    }
}
@media screen and (max-width: 500px) {
    .design__form {
       flex-direction: column;
    }
    .title {
        margin-top: 25px;
        font-size: 35px;
    }
}


@media screen and (max-width: 425px) {
    .design__form-btn {
       width: 100%;
    }
    .title {
        margin-top: 25px;
        font-size: 35px;
    }
    .subtitle {
        font-size: 25px;
    }

    .provide__info-wrp {
        width: 320px;
    }

    .provide__info-img {
        width: 320px;
        margin-left: 25px;
    }

    .provide__info-title {
        font-size: 26px;
        margin-left: 35px;
    }

    .m-btn {
        margin: 10px;
    }

    .provide-wrp {
        display: block;
    }

    .m-title {
        font-size: 26px;
    }

    .feature {
        padding: 60px 20px 0;
    }

    .feature__info-wrp {
        margin: 0 0 30px 0;
    }

    .design-title {
        font-size: 20px;
    }

    .design {
        padding: 45px 20px;

    }

    .design__form {
        flex-direction: column;
    }

    .design__form-input {
        margin-bottom: 20px;
    }

    .footer-text-polity {
        font-size: 13px;
    }

    .footer-wrp {
        justify-content: center;
    }
}
@media screen and (max-width: 350px) {

    .title {

        font-size: 30px;

    }
}
