.info__wrp {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
    .carousel {
        max-width: 1249px ;
        margin: 0 auto;
        max-width: 1577px;
    }

.header__content-wrp {
    width: 1249px;
    margin: 0 auto;
    background-image: url(../../img/bg2.png);
    background-size: cover;
    min-height: 700px;
    padding: 30px 0 0 0;
    box-sizing: border-box;
}

.header-title {
    margin: 70px 500px 0px 0px;
}

.header-title__react {
    width: 100%;
    width: 600px;
    margin: 0px 0px 0px 10px;
    justify-content: center;
    /* margin: 0px 15px 0px 15px; */
    margin-bottom: 60px;
}

.try-btn {
    box-shadow: 0 0 15px rgb(79 50 204 / 40%);
    margin: 50px auto;
    display: block;
    width: 227px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid #b458bf;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 18.2px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #b458bf;
}



.try-btn:hover {
    background-color: #b458bf;
    color: #ffffff;
}

.try-btn:active {
    background-color: #ffffff;
    color: #b458bf;
}

.header_img {
    display: none;
}


@media screen and (max-width: 1200px) {
    .header__content-wrp {
        background-image: url(img/white.png);
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .header_img {
        display: block;
        /* width: 100%; */
    }

    .header-title {
        margin: 0;
    }

    .header-title__react {
        margin: 35px 0 35px 0;
    }

}

@media screen and (max-width: 768px) {
    font-size: 27px;
}

@media screen and (max-width: 768px) {
   
    .header-title__react {
        width: 100%;
    }
}


@media screen and (max-width: 655px) {
    .header_img {

        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .design__form-input { 

margin: 0 0 27px 0;
    }
}



@media screen and (max-width: 1282px) {
    .header__content-wrp {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .header-title__react {
        font-size: 19px;
    }
    .design__form-input {
        width: 87%;
    height: 65px;
    }
}

@media screen and (max-width: 460px) {
    .header-title {
        font-size: 30px;
    }

    .header-title__react {
        font-size: 20px;
        margin: 20px 0 20px 0;
    }

    .header__content-wrp {
        min-height: 500px;
    }
}
